<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ article.author }}">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ article.meta_description }}">
    <meta name="keywords" content="{{ article.meta_keywords }}">
    <meta property="og:title" content="{{ article.meta_title }}">
    <meta property="og:description" content="{{ article.meta_description }}">
    <meta property="og:image" content="{{ article.image }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ article.meta_title }}">
    <meta name="twitter:description" content="{{ article.meta_description }}">
    <meta name="twitter:image" content="{{ article.image }}">
    <link rel="icon" href="/static/img/logobw.webp" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.css" />
    <title>{{ article.meta_title }}</title>

    <link rel="stylesheet" href="/static/output.css">
</head>

<body class="bg-zinc-800 overflow-x-hidden">
    <div id="wrapper">
        <section
            class="relative bg-[url('/static/img/fotobatubata.webp')] bg-fixed w-screen h-screen bg-cover bg-center">
            <div
                class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-gray-800 via-gray-800/60 to-transparent">
                <nav
                    class="fixed z-50 bg-gradient-to-b from-black via-gray-800/60 to-transparent md:bg-transparent flex p-5 md:p-20 justify-between items-center w-full gap-5">
                    <label for="check-mobilenav" class="flex flex-col cursor-pointer md:hidden">
                        <input type="checkbox" id="check-mobilenav" class="peer hidden" />
                        <span
                            class="bg-stone-100 rounded-[10px] h-[3.5px] my-[3px] transition-transform duration-[0.4s] ease-custom w-1/2 peer-checked:origin-bottom peer-checked:rotate-45 peer-checked:translate-x-[8px]"></span>
                        <span
                            class="bg-stone-100 rounded-[10px] h-[3.5px] my-[3px] transition-transform duration-[0.4s] ease-custom w-full peer-checked:origin-top peer-checked:-rotate-45"></span>
                        <span
                            class="bg-stone-100 rounded-[10px] h-[3.5px] my-[3px] transition-transform duration-[0.4s] ease-custom w-3/4 peer-checked:origin-bottom peer-checked:w-1/2 peer-checked:translate-x-[30px] peer-checked:-translate-y-[11px] peer-checked:rotate-45"></span>
                    </label>
                    <ul class="hidden md:flex justify-start gap-5 lg:gap-10 text-xl text-stone-100">
                        <li class="relative group">
                            <a href="index.html" class="font-semibold duration-500">HOME</a>
                            <div class="absolute -bottom-2 left-0 w-0 duration-500 group-hover:w-full h-1 bg-stone-100">
                            </div>
                        </li>
                        <li class="relative group">
                            <a href="/about.html" class="font-semibold duration-500">ABOUT</a>
                            <div class="absolute -bottom-2 left-0 w-0 duration-500 group-hover:w-full h-1 bg-stone-100">
                            </div>
                        </li>
                        <li class="relative group">
                            <a href="/proyek.html" class="font-semibold duration-500">PROYEK</a>
                            <div class="absolute -bottom-2 left-0 w-0 duration-500 group-hover:w-full h-1 bg-stone-100">
                            </div>
                        </li>
                        <li class="relative group">
                            <a href="/artikel.html" class="font-semibold duration-500">ARTIKEL</a>
                            <div class="absolute -bottom-2 left-0 w-0 duration-500 group-hover:w-full h-1 bg-stone-100">
                            </div>
                        </li>
                        <li class="relative group">
                            <a href="#contact" class="font-semibold duration-500">CONTACT</a>
                            <div class="absolute -bottom-2 left-0 w-0 duration-500 group-hover:w-full h-1 bg-stone-100">
                            </div>
                        </li>
                    </ul>
                    <div id="brand"
                        class="text-3xl font-bold text-stone-900 transform transition duration-300 ease-in-out hover:scale-110">
                        <a href="index.html" class="flex items-center">
                            <img src="/static/img/logobar.png" alt="Reclea Brick Logo"
                                class="max-w-20 sm:max-w-32 shadow-lg" />
                            <span class="sr-only">Reclea Brick</span>
                        </a>
                    </div>
                </nav>
                <div class="flex justify-center items-center mt-20 md:mt-40">
                    <h2 class="text-stone-50 text-left font-play-serif font-bold text-4xl lg:text-[80px] md:text-[64px] sm:text-[64px] leading-tight"
                        data-aos="zoom-y-out" data-aos-delay="150">
                        <span>Artikel</span>
                    </h2>
                </div>
                <div class="mb-4 text-center mt-12 ">
                    <a href="{{ url_for('home') }}"
                        class="inline-block px-4 py-2 bg-zinc-400 text-white rounded">All</a>
                    <a href="{{ url_for('category', category_name='otomotif') }}"
                        class="inline-block px-4 py-2 bg-zinc-400 text-white rounded">Otomotif</a>
                    <a href="{{ url_for('category', category_name='konstruksi') }}"
                        class="inline-block px-4 py-2 bg-zinc-400 text-white rounded">Konstruksi</a>
                    <a href="{{ url_for('category', category_name='interior') }}"
                        class="inline-block px-4 py-2 bg-zinc-400 text-white rounded">Interior</a>
                    <a href="{{ url_for('category', category_name='alat-alat-unik') }}"
                        class="inline-block px-4 py-2 bg-zinc-400 text-white rounded">Alat-alat Unik</a>
                </div>
            </div>
        </section>


        <section
            class="bg-white bg-gradient-to-t from-black via-gray-800/60 to-transparent dark:bg-gray-900 p-5 md:p-20">
            <div class="mb-10 mt-20">
                <h2 class="text-stone-50 text-left font-play-serif font-bold text-3xl lg:text-[68px] md:text-[56px] sm:text-[56px] leading-tight"
                    data-aos="zoom-y-out" data-aos-delay="150">
                    <span>{{ article.title }}</span>
                </h2>
            </div>
            <div>
                <div class="relative w-full mb-5 overflow-hidden">
                    <div class="w-full h-fit">
                        <img src="{{ article.image }}" alt="" class="w-full object-cover">
                        <div class="absolute bottom-0 left-0 p-4 text-sm text-white">Source: {{ article.source }}</div>
                    </div>
                </div>
                <div class="flex gap-5 md:h-1/4 items-center mb-10">
                    <img src="https://avatar.iran.liara.run/public/1" class="size-8 rounded-full" alt="">
                    <div class="flex flex-col">
                        <div class="text-slate-200 text-sm">{{ article.author }}</div>
                        <div class="text-sm text-stone-400 font-light">{{ article.date }}</div>
                    </div>
                </div>
                <div class="flex flex-wrap md:flex-nowrap gap-10">
                    <div class="basis-full md:basis-2/3">
                        <div class="text-stone-400 mb-5">{{ article.content | safe }}</div>
                        <!-- Add other paragraphs as necessary -->
                    </div>
                    <div class="h-full px-10 basis-full md:basis-1/3 rounded-xl flex flex-col gap-4">
                        <div class="mb-10 md:mb-0 outline outline-stone-400 p-5">
                            <div class="text-2xl text-stone-50 font-montserrat mb-5">Most Viewed</div>
                            <ul class="flex flex-col gap-2">
                                <li>
                                    <a href="/artikel-bata-hitam-reclea-sudah-SNI.html" class="flex flex-col gap-1">
                                        <div class="text-stone-200">Batu Bata Hitam Reclea Brick Penuhi Standar Keamanan
                                            dan Syarat SNI</div>
                                        <div class="text-stone-500 text-sm">27 Mei 2024</div>
                                    </a>
                                </li>
                                <!-- Add more list items as needed -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mx-auto grid gap-8 lg:grid-cols-4">
                <!-- Card 1 -->
                <a class="" href="#">
                    <div class="w-full mb-5 h-48 overflow-hidden flex justify-center items-center">
                        <img src="https://picsum.photos/500" alt="" class="w-full">
                    </div>
                    <div class=" mb-3">
                        <h6 class="line-clamp-2 mb-2 text-stone-100 font-medium text-2xl">Lorem ipsum dolor sit.
                        </h6>
                        <p class="line-clamp-3 text-stone-100">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur eaque cumque
                            officia sint nesciunt! Facilis omnis nesciunt sapiente neque quaerat, illo reiciendis
                            labore
                            optio asperiores. Eaque quo itaque veritatis.
                        </p>
                    </div>
                    <div class="flex gap-5 items-center">
                        <img src="https://avatar.iran.liara.run/public/1" class="size-8 rounded-full" alt="">
                        <div class="flex flex-col">
                            <div class="text-stone-100 text-sm">Author admin</div>
                            <div class="text-sm text-stone-200 font-light">April 27 · </div>
                        </div>
                    </div>
                </a>
                <a class="" href="#">
                    <div class="w-full mb-5 h-48 overflow-hidden flex justify-center items-center">
                        <img src="https://picsum.photos/450" alt="" class="w-full">
                    </div>
                    <div class=" mb-3">
                        <h6 class="line-clamp-2 mb-2 text-stone-100 font-medium text-2xl">Lorem ipsum dolor sit.
                        </h6>
                        <p class="line-clamp-3 text-stone-200">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur eaque cumque
                            officia sint nesciunt! Facilis omnis nesciunt sapiente neque quaerat, illo reiciendis
                            labore
                            optio asperiores. Eaque quo itaque veritatis.
                        </p>
                    </div>
                    <div class="flex gap-5 items-center">
                        <img src="https://avatar.iran.liara.run/public/1" class="size-8 rounded-full" alt="">
                        <div class="flex flex-col">
                            <div class="text-stone-100 text-sm">Author admin</div>
                            <div class="text-sm text-stone-200 font-light">April 27 · </div>
                        </div>
                    </div>
                </a>
                <a class="" href="#">
                    <div class="w-full mb-5 h-48 overflow-hidden flex justify-center items-center">
                        <img src="https://picsum.photos/510" alt="" class="w-full">
                    </div>
                    <div class=" mb-3">
                        <h6 class="line-clamp-2 mb-2 text-stone-100 font-medium text-2xl">Lorem ipsum dolor sit.
                        </h6>
                        <p class="line-clamp-3 text-stone-200">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur eaque cumque
                            officia sint nesciunt! Facilis omnis nesciunt sapiente neque quaerat, illo reiciendis
                            labore
                            optio asperiores. Eaque quo itaque veritatis.
                        </p>
                    </div>
                    <div class="flex gap-5 items-center">
                        <img src="https://avatar.iran.liara.run/public/1" class="size-8 rounded-full" alt="">
                        <div class="flex flex-col">
                            <div class="text-stone-100 text-sm">Author admin</div>
                            <div class="text-sm text-stone-200 font-light">April 27 · </div>
                        </div>
                    </div>
                </a>
                <a class="" href="#">
                    <div class="w-full mb-5 h-48 overflow-hidden flex justify-center items-center">
                        <img src="https://picsum.photos/505" alt="" class="w-full">
                    </div>
                    <div class=" mb-3">
                        <h6 class="line-clamp-2 mb-2 text-stone-100 font-medium text-2xl">Lorem ipsum dolor sit.
                        </h6>
                        <p class="line-clamp-3 text-stone-200">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur eaque cumque
                            officia sint nesciunt! Facilis omnis nesciunt sapiente neque quaerat, illo reiciendis
                            labore
                            optio asperiores. Eaque quo itaque veritatis.
                        </p>
                    </div>
                    <div class="flex gap-5 items-center">
                        <img src="https://avatar.iran.liara.run/public/1" class="size-8 rounded-full" alt="">
                        <div class="flex flex-col">
                            <div class="text-stone-100 text-sm">Author admin</div>
                            <div class="text-sm text-stone-200 font-light">April 27 · </div>
                        </div>
                    </div>
                </a>
                <a class="" href="#">
                    <div class="w-full mb-5 h-48 overflow-hidden flex justify-center items-center">
                        <img src="https://picsum.photos/502" alt="" class="w-full">
                    </div>
                    <div class=" mb-3">
                        <h6 class="line-clamp-2 mb-2 text-stone-100 font-medium text-2xl">Lorem ipsum dolor sit.
                        </h6>
                        <p class="line-clamp-3 text-stone-200">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur eaque cumque
                            officia sint nesciunt! Facilis omnis nesciunt sapiente neque quaerat, illo reiciendis
                            labore
                            optio asperiores. Eaque quo itaque veritatis.
                        </p>
                    </div>
                    <div class="flex gap-5 items-center">
                        <img src="https://avatar.iran.liara.run/public/1" class="size-8 rounded-full" alt="">
                        <div class="flex flex-col">
                            <div class="text-stone-100 text-sm">Author admin</div>
                            <div class="text-sm text-stone-200 font-light">April 27 ·</div>
                        </div>
                    </div>
                </a>
                <a class="" href="#">
                    <div class="w-full mb-5 h-48 overflow-hidden flex justify-center items-center">
                        <img src="https://picsum.photos/495" alt="" class="w-full">
                    </div>
                    <div class=" mb-3">
                        <h6 class="line-clamp-2 mb-2 text-stone-100 font-medium text-2xl">Lorem ipsum dolor sit.
                        </h6>
                        <p class="line-clamp-3 text-stone-200">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur eaque cumque
                            officia sint nesciunt! Facilis omnis nesciunt sapiente neque quaerat, illo reiciendis
                            labore
                            optio asperiores. Eaque quo itaque veritatis.
                        </p>
                    </div>
                    <div class="flex gap-5 items-center">
                        <img src="https://avatar.iran.liara.run/public/1" class="size-8 rounded-full" alt="">
                        <div class="flex flex-col">
                            <div class="text-stone-100 text-sm">Author admin</div>
                            <div class="text-sm text-stone-200 font-light">April 27 · </div>
                        </div>
                    </div>
                </a>
                <a href="/artikel.html"
                    class="col-span-2 relative flex h-3/4 w-full text-sm sm:text-base py-3 px-10 border-0 items-center justify-center overflow-hidden bg-stone-800 text-white hover:text-stone-800 transition-all before:absolute before:h-0 before:w-0 before:bg-white before:duration-300 before:ease-out hover:before:h-full hover:before:w-full hover:before:scale-150 outline outline-offset-1 outline-1 outline-stone-500">
                    <span class="relative z-10 text-3xl font-bold flex items-center justify-center gap-5">
                        Artikel Lainnya
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </span>
                </a>
            </div>
    </div>
    </div>
    </section>

    <hr>

</html>